openapi: 3.0.3
info:
  description: 'The seller-facing Crossly API — listings, crossposting, orders, analytics.
    Authenticate with a Personal Access Token (`Authorization: Bearer crossly_pat_…`)
    or a seller OAuth token (`crossly_oat_…`), scoped `<domain>:<read|write>`. Buyer
    endpoints are a SEPARATE API with a separate principal — see the Crossly Buyer
    API.'
  title: Crossly Seller API
  version: 1.0.0
servers:
- url: https://crossly.net/api
security:
- PersonalAccessToken: []
paths:
  /v1/me:
    get:
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Default Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Identity check — authenticated user + PAT scopes + account state.
      tags:
      - Account
      x-accepts: application/json
    patch:
      operationId: updateMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update the authenticated user's profile (display name, etc).
      tags:
      - Profile
      x-accepts: application/json
  /v1/inventory:
    get:
      operationId: listInventory
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListInventoryItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List inventory items.
      tags:
      - Inventory
      x-accepts: application/json
    post:
      operationId: createInventory
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInventoryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a new inventory item.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/facets:
    get:
      operationId: getInventoryFacet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInventoryFacetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Distinct brands + categories across this user's inventory.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/ids:
    get:
      operationId: listInventoryIds
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListInventoryIdsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Filter inventory → return matching id list.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/sku-exists:
    get:
      operationId: getInventorySkuExist
      parameters:
      - explode: true
        in: query
        name: sku
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInventorySkuExistResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Check whether a SKU is already in use on this user's inventory.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/labels:
    get:
      operationId: getInventoryLabel
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInventoryLabelResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List every distinct label across this user's inventory.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/{id}:
    delete:
      operationId: deleteInventory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteInventoryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Soft-archive an inventory item.
      tags:
      - Inventory
      x-accepts: application/json
    get:
      operationId: getInventory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInventoryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get one inventory item with platform listings.
      tags:
      - Inventory
      x-accepts: application/json
    patch:
      operationId: updateInventory
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateInventoryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update an inventory item (partial).
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/{id}/activity:
    get:
      operationId: listInventoryActivity
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListInventoryActivityItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Activity log for an inventory item (created/sold/edited/etc.).
      tags:
      - Inventory
      x-accepts: application/json
  /v1/inventory/{id}/units:
    get:
      description: 'Each identifier carries a `strength` describing what it proves:
        `strong` was recorded before the item sold, `good` at packing, `weak` only
        after it shipped. The grade is derived from when it was recorded, never from
        the value itself.'
      operationId: listInventoryUnits
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListInventoryUnitsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List the individually identified units of an inventory item.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/orders/{id}/units:
    get:
      description: 'The dispute-time read: what physically went out. An empty list
        means no identity was recorded, which is not the same as the order having
        no units.'
      operationId: listOrderUnits
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListOrderUnitsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List the identified units that shipped on an order.
      tags:
      - Orders
      x-accepts: application/json
  /v1/orders/{id}/evidence:
    get:
      description: Returns the packing capture and its attestation verdict, the seal
        comparison (dispatch vs arrival), the buyer's arrival-condition state, and
        the identified units that shipped. Absence is reported as absence — an empty
        section means nothing was recorded, never that nothing happened.
      operationId: getOrderEvidence
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderEvidenceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Everything recorded about how this order was packed and how it arrived.
      tags:
      - Orders
      x-accepts: application/json
  /v1/spatial/scenes:
    get:
      description: One per market category the seller holds catalog-resolved stock
        in, plus a warehouse. Rooms are created on first read rather than requiring
        setup, so this call is safe to treat as the entry point.
      operationId: listSpatialScenes
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListSpatialScenesItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: The rooms this account has.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/spatial/public:
    get:
      description: 'The directory behind world-hopping. A room becomes public when
        its owner shares it; this lists those, newest first, with enough to draw a
        doorway AND enough to choose one — name, slug, category, itemCount, up to
        four previewImages, forSaleCount, a priceFromCents/priceToCents band and updatedAt.
        The band is the cheapest and dearest thing for sale in the room, never a quote
        for one object: /api/public/spatial/{slug}/offers is the authority on that.
        Fetch the room itself from /api/public/spatial/{slug}. Rooms with no items
        are omitted: an empty room is not a destination.'
      operationId: listSpatialPublic
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListSpatialPublicItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Public rooms anyone can walk into.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/spatial/public/{slug}:
    get:
      description: 'The room behind a share link: container geometry in METRES matching
        the real physical object, the solved arrangement, and one row per object on
        the shelves. REDACTED relative to the owner''s view — no cost, no storage
        location, no listing status — so do not expect the fields /v1/spatial/scenes/{id}
        returns. Each placement carries `pinned`: true means a HUMAN put it there
        and it will not move; false means a layout SOLVER chose, and it may choose
        differently once the stock changes, so an unpinned placement is never a statement
        about where something physically is. `solved.overflow` lists what did not
        fit — a non-empty array means the room is INCOMPLETE and `stats.itemCount`
        exceeds what is on screen. Resolves rooms shared as `unlisted` as well as
        `public`: holding the link is the permission.'
      operationId: getSpatialPublic
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          maxLength: 64
          minLength: 8
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpatialPublicResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: A shared room, as a visitor sees it.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/spatial/public/{slug}/offers:
    get:
      description: 'Price, stock, condition and grade for everything in the room its
        owner is actually selling. Correlate to the room by `itemId`, which is the
        SAME id the scene payload publishes per item — never by title. An item in
        the room with no row here is not for sale; an empty array means the owner
        is showing the collection rather than selling it, which is a different answer
        from a 404 (no such shared room). SEPARATE CALL ON PURPOSE: the room''s geometry
        is stable for minutes, a price is not — it changes whenever the seller edits
        a listing. Re-read this before quoting, and do not cache a price alongside
        a cached room. `priceCents` is CENTS. `available` is remaining stock, or null
        when the listing declares none; null is unknown, not zero. Where an item sits
        inside more than one active listing, the offer quoted is the one for that
        item alone rather than a bundle it belongs to.'
      operationId: listSpatialPublicOffers
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          maxLength: 64
          minLength: 8
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListSpatialPublicOffersItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What is for sale in a shared room.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/spatial/scenes/{id}:
    get:
      description: 'Returns the space profile (container geometry in METRES, matching
        the real physical object), the solved placements, and the items. Placements
        carry a `pinned` flag: true means a human put it there and the layout solver
        will not move it; false means the solver chose, and it may choose differently
        once the stock changes. `overflow` lists anything that did not fit — it is
        reported, never silently dropped.'
      operationId: getSpatialScene
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpatialSceneResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: 'A solved room: every item, where it sits, and why.'
      tags:
      - Inventory
      x-accepts: application/json
  /v1/spatial/scenes/{id}/movements:
    get:
      description: 'One row per physical transition: which item, from which node,
        to which node, when, and of what kind (placed/moved/picked/shipped/received/removed).
        Nodes are referenced by id; the `fromCode`/`toCode` strings are display snapshots
        of the location code AT THE TIME and are not stable identifiers — correlate
        on the node ids. `since`/`until` are ISO timestamps, defaulting to the last
        seven days and clamped to 90. Movements are NOT attributed to individual team
        members on this surface: a token has no team role, so there is no honest way
        to decide whether its holder may see who did the work.'
      operationId: listSpatialSceneMovements
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListSpatialSceneMovementsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Stock movements in a room over a time window.
      tags:
      - Inventory
      x-accepts: application/json
  /v1/listings:
    get:
      operationId: listListings
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListListingsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List active platform listings.
      tags:
      - Listings
      x-accepts: application/json
    post:
      operationId: createListing
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateListingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a listing and fan out crosspost jobs across platforms.
      tags:
      - Listings
      x-accepts: application/json
  /v1/listings/facets:
    get:
      operationId: getListingFacet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingFacetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Distinct brands + categories across listings + inventory.
      tags:
      - Listings
      x-accepts: application/json
  /v1/listings/ids:
    get:
      operationId: listListingIds
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListListingIdsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Filter listings → return matching id list (no pagination).
      tags:
      - Listings
      x-accepts: application/json
  /v1/listings/sku-exists:
    get:
      operationId: getListingSkuExist
      parameters:
      - explode: true
        in: query
        name: sku
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingSkuExistResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Check whether a SKU is already used by one of this user's items.
      tags:
      - Listings
      x-accepts: application/json
  /v1/listings/{id}:
    delete:
      operationId: deleteListing
      parameters:
      - description: Comma-separated platform slugs to limit the delist fan-out.
        explode: true
        in: query
        name: platforms
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteListingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delist a listing (optionally narrowed to specific platforms via ?platforms=).
      tags:
      - Listings
      x-accepts: application/json
    get:
      operationId: getListing
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get one listing with its platform rows.
      tags:
      - Listings
      x-accepts: application/json
    patch:
      operationId: updateListing
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateListingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Edit a listing and fan out update jobs to existing platform listings.
      tags:
      - Listings
      x-accepts: application/json
  /v1/listings/{id}/discrepancies:
    get:
      operationId: listListingDiscrepancies
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListListingDiscrepanciesItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List detected marketplace-drift discrepancies for a listing.
      tags:
      - Listings
      x-accepts: application/json
  /v1/orders:
    get:
      operationId: listOrders
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListOrdersItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List orders.
      tags:
      - Orders
      x-accepts: application/json
  /v1/orders/{id}:
    get:
      operationId: getOrder
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get one order.
      tags:
      - Orders
      x-accepts: application/json
    patch:
      operationId: updateOrder
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Update order (status, notes, tracking).
      tags:
      - Orders
      x-accepts: application/json
  /v1/orders/{id}/shipments:
    get:
      description: 'An order can ship in more than one box: eBay allows a second label,
        Poshmark sells up to ten additional ones, and a bundle can need two. The order
        record carries only the PRIMARY parcel, so this is the only place the rest
        are visible. totalLabelCostCents sums every non-voided parcel — reading label
        cost off the order understates a multi-parcel order by a whole label.'
      operationId: getOrderShipment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderShipmentResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List the parcels an order shipped in.
      tags:
      - Orders
      x-accepts: application/json
  /v1/sales:
    get:
      operationId: listSales
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListSalesItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List sales (each unique sale event).
      tags:
      - Sales
      x-accepts: application/json
  /v1/inbox:
    get:
      operationId: listInbox
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListInboxItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List conversations.
      tags:
      - Inbox
      x-accepts: application/json
  /v1/inbox/{id}:
    get:
      operationId: getInbox
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInboxResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get one conversation with its messages.
      tags:
      - Inbox
      x-accepts: application/json
  /v1/analytics/summary:
    get:
      operationId: getAnalyticSummary
      parameters:
      - explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 365
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticSummaryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Headline KPIs for the last N days.
      tags:
      - Analytics
      x-accepts: application/json
  /v1/analytics/by-platform:
    get:
      operationId: getAnalyticByPlatform
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticByPlatformResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Sales + revenue grouped by platform for the last N days.
      tags:
      - Analytics
      x-accepts: application/json
  /v1/analytics/timeseries:
    get:
      operationId: getAnalyticTimesery
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticTimeseryResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Daily sales + revenue series for the last N days.
      tags:
      - Analytics
      x-accepts: application/json
  /v1/analytics/dashboard:
    get:
      operationId: getAnalyticDashboard
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticDashboardResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: 'Composite dashboard: KPIs + breakdowns + recent activity.'
      tags:
      - Analytics
      x-accepts: application/json
  /v1/analytics/today:
    get:
      operationId: getAnalyticToday
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticTodayResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Today's checklist + 14-day activity streak.
      tags:
      - Analytics
      x-accepts: application/json
  /v1/analytics/items:
    get:
      operationId: getAnalyticItem
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticItemResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Per-item P&L for sold inventory.
      tags:
      - Analytics
      x-accepts: application/json
  /v1/analytics/bookkeeping:
    get:
      operationId: getAnalyticBookkeeping
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAnalyticBookkeepingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Monthly P&L + per-platform breakdown for a calendar year.
      tags:
      - Analytics
      x-accepts: application/json
  /v1/insights/by-platform:
    get:
      operationId: listInsightByPlatform
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListInsightByPlatformItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Platform velocity + margin insight (90-day window).
      tags:
      - Analytics
      x-accepts: application/json
  /v1/accounts:
    get:
      operationId: listAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListAccountsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List your connected platform accounts.
      tags:
      - Accounts
      x-accepts: application/json
    post:
      operationId: createAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Connect a new platform account (kicks off OAuth or extension handshake).
      tags:
      - Accounts
      x-accepts: application/json
  /v1/connections:
    get:
      operationId: listConnections
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListConnectionsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List OAuth-connected API platforms.
      tags:
      - Accounts
      x-accepts: application/json
  /v1/connections/extension-online:
    get:
      operationId: getConnectionExtensionOnline
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectionExtensionOnlineResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Check if the browser extension is online.
      tags:
      - Accounts
      x-accepts: application/json
  /v1/connections/email:
    get:
      operationId: getConnectionEmail
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectionEmailResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List IMAP and email-OAuth connections.
      tags:
      - Accounts
      x-accepts: application/json
  /v1/platforms/limits:
    get:
      operationId: getPlatformLimit
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlatformLimitResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: eBay free-tier + Etsy fees aggregate.
      tags:
      - Accounts
      x-accepts: application/json
  /v1/account/deletion-status:
    get:
      operationId: getAccountDeletionStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountDeletionStatusResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get the currently-pending deletion request, if any.
      tags:
      - Account
      x-accepts: application/json
  /v1/auth/sessions:
    delete:
      operationId: deleteAuthSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAuthSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Revoke all active browser sessions.
      tags:
      - Account
      x-accepts: application/json
    get:
      operationId: listAuthSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListAuthSessionsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List active browser auth sessions.
      tags:
      - Account
      x-accepts: application/json
  /v1/automation/rules:
    get:
      operationId: listAutomationRules
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListAutomationRulesItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: List automation rules.
      tags:
      - Automation
      x-accepts: application/json
    post:
      operationId: createAutomationRule
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAutomationRuleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create an automation rule.
      tags:
      - Automation
      x-accepts: application/json
  /v1/automation/rules/export:
    get:
      operationId: getAutomationRuleExport
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAutomationRuleExportResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Export the user's full rule library as a portable recipe bundle.
      tags:
      - Automation
      x-accepts: application/json
  /v1/automation/rules/{id}:
    delete:
      operationId: deleteAutomationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAutomationRuleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete an automation rule.
      tags:
      - Automation
      x-accepts: application/json
    get:
      operationId: getAutomationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAutomationRuleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Get a single automation rule.
      tags:
      - Automation
      x-accepts: application/json
    put:
      operationId: updateAutomationRule
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAutomationRuleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
[...]
