openapi: 3.0.3
info:
  description: 'The buyer-facing Crossly API — cart, orders, wishlists, offers, cashback.
    A DIFFERENT principal from the seller API: authenticated by a buyer OAuth token
    scoped `buyer:*` and resolved by `resolveBuyer`. A seller Personal Access Token
    will NOT authenticate these endpoints.'
  title: Crossly Buyer API
  version: 1.0.0
servers:
- url: https://crossly.net/api
security:
- BuyerOAuth: []
paths:
  /v1/buyer/profile:
    get:
      operationId: getBuyerProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerProfileResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Your Crossly shopping profile — name, email, saved address, Bucks balance.
      tags:
      - Buyer
      x-accepts: application/json
  /v1/buyer/orders:
    get:
      operationId: listBuyerOrders
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerOrdersItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What you have bought on Crossly, newest first.
      tags:
      - Buyer
      x-accepts: application/json
  /v1/buyer/cart:
    get:
      description: Line items with the price captured when each was added. This is
        NOT a quote — shipping, tax and any discounts are computed at checkout against
        a delivery address, and the sum of these lines is not what you will be charged.
      operationId: listBuyerCart
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerCartItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What is in your Crossly cart.
      tags:
      - Buyer
      x-accepts: application/json
  /v1/buyer/cashback:
    get:
      description: Newest first. `pending` means an order was reported and the retailer's
        return window has not closed; nothing is paid until it does. `expired` means
        a click was never reported as converting, which is the ordinary outcome for
        most clicks.
      operationId: listBuyerCashback
      parameters:
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - confirmed
          - rejected
          - paid
          - expired
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerCashbackItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Your Scout cashback — pending, confirmed, paid.
      tags:
      - Buyer
      x-accepts: application/json
  /v1/buyer/wishlists:
    get:
      operationId: listBuyerWishlists
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerWishlistsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Your wishlists.
      tags:
      - Buyer
      x-accepts: application/json
    post:
      operationId: createBuyerWishlist
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              properties:
                name:
                  maxLength: 120
                  minLength: 1
                  type: string
              required:
              - name
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerWishlistResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Create a wishlist.
      tags:
      - Buyer
      x-contentType: application/json
      x-accepts: application/json
  /v1/buyer/wishlists/{id}/items:
    get:
      operationId: listBuyerWishlistItems
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerWishlistItemsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What is on one wishlist.
      tags:
      - Buyer
      x-accepts: application/json
    post:
      operationId: createBuyerWishlistItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              properties:
                listingSlug:
                  type: string
              required:
              - listingSlug
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerWishlistItemResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Add a listing to a wishlist.
      tags:
      - Buyer
      x-contentType: application/json
      x-accepts: application/json
  /v1/buyer/catalog/search:
    get:
      description: 'Keyset-paginated. Pass the `nextCursor` you were given back as
        `cursor`; page 500 costs the same as page 1. Cursors are opaque — do not parse
        them. Responses carry an ETag: send it back as If-None-Match and an unchanged
        page answers 304, which is free. `sort=popular` is deliberately unavailable,
        because a cursor into a continuously-reordering list silently skips rows.'
      operationId: listBuyerCatalogSearch
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerCatalogSearchItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Search the Crossly catalogue.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/catalog/listings/{slug}:
    get:
      operationId: getBuyerCatalogListing
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerCatalogListingResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: One listing, in full.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/catalog/listings/{slug}/availability:
    get:
      description: The cheapest endpoint here, and the one to poll if you are going
        to poll — a single indexed row, no joins beyond stock, and an ETag so an unchanged
        answer is a 304. If you want to be TOLD instead of asking, create a monitor.
      operationId: getBuyerCatalogListingAvailability
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerCatalogListingAvailabilityResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Is it still buyable, and at what price.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/catalog/facets:
    get:
      description: The vocabulary the search filters accept. Counts are live, so a
        filter built from this will never return an empty page for a value that has
        since sold out.
      operationId: getBuyerCatalogFacet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerCatalogFacetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Brands, categories and conditions that currently have stock.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/anywhere:
    get:
      description: 'Answers with a VERDICT, not a list: crossly_best, offsite_cheaper,
        offsite_only or no_match. Offsite offers come from licensed affiliate product
        feeds, are ranked CHEAPEST-FIRST — commission only ever breaks a sub-$1 tie
        — and only appear when they beat the price you passed in. `shippingUnknown:
        true` means a compared price omitted postage, so present the result as "before
        postage" rather than as a delivered total. Crossly wins ties within $1; beyond
        that the honest answer wins.'
      operationId: getBuyerAnywhere
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerAnywhereResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Cheapest source for an item — Crossly first, then other retailers.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/cart/items:
    post:
      operationId: createBuyerCartItem
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                listingSlug:
                  type: string
                quantity:
                  default: 1
                  maximum: 10
                  minimum: 1
                  type: integer
              required:
              - listingSlug
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerCartItemResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Add a listing to your cart.
      tags:
      - Buyer
      x-contentType: application/json
      x-accepts: application/json
  /v1/buyer/cart/items/{id}:
    delete:
      operationId: deleteBuyerCartItem
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content — the request succeeded and there is no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Remove a line from your cart.
      tags:
      - Buyer
      x-accepts: application/json
  /v1/buyer/cart/quote:
    post:
      description: 'Runs the real checkout cascade and returns the totals instead
        of charging. Nothing is purchased. `taxComplete: false` means there is no
        saved delivery address, so the total is a floor rather than a final figure.'
      operationId: createBuyerCartQuote
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerCartQuoteResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Price the cart, delivered — item, shipping, tax, total.
      tags:
      - Buyer
      x-accepts: application/json
  /v1/buyer/offers:
    post:
      description: Sends an offer to the seller. Spends nothing — a seller accepting
        still leaves you to complete checkout. Offers at or above the asking price
        are refused; buy it instead.
      operationId: createBuyerOffer
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                listingSlug:
                  type: string
                amountCents:
                  minimum: 100
                  type: integer
                message:
                  maxLength: 500
                  type: string
              required:
              - amountCents
              - listingSlug
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerOfferResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Offer a price on a listing.
      tags:
      - Buyer
      x-contentType: application/json
      x-accepts: application/json
  /v1/buyer/monitors:
    get:
      operationId: listBuyerMonitors
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerMonitorsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Your monitors.
      tags:
      - Buyer Monitors
      x-accepts: application/json
    post:
      description: 'Works immediately — there is no review step. The signing secret
        is returned ONCE, here; it is never readable again. The first sweep SEEDS
        without firing: a restock alert created while the item is already in stock
        has not observed a restock, and a new-listing monitor would otherwise deliver
        the entire back catalogue.'
      operationId: createBuyerMonitor
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerMonitorResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Watch a search, and be told when it matches.
      tags:
      - Buyer Monitors
      x-accepts: application/json
  /v1/buyer/monitors/{id}/matches:
    get:
      description: The read side of a `poll` monitor, and an audit trail for a `webhook`
        one — so a missed delivery does not mean lost data.
      operationId: listBuyerMonitorMatches
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerMonitorMatchesItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What this monitor has matched.
      tags:
      - Buyer Monitors
      x-accepts: application/json
  /v1/buyer/monitors/{id}:
    delete:
      operationId: deleteBuyerMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content — the request succeeded and there is no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Delete a monitor.
      tags:
      - Buyer Monitors
      x-accepts: application/json
    patch:
      operationId: updateBuyerMonitor
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuyerMonitorResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Pause, resume or rename a monitor.
      tags:
      - Buyer Monitors
      x-accepts: application/json
  /v1/buyer/checkout/controls:
    get:
      description: Reports the controls for the key making the call — not for your
        account. Every key has its own switch and its own limits.
      operationId: getBuyerCheckoutControl
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerCheckoutControlResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What this key is allowed to spend.
      tags:
      - Buyer Checkout
      x-accepts: application/json
    put:
      description: A key can only ever raise or lower ITS OWN limits, and only if
        the token already carries buyer:checkout:write. Turning it off takes effect
        immediately.
      operationId: updateBuyerCheckoutControl
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBuyerCheckoutControlResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Switch this key on for spending, and set its limits.
      tags:
      - Buyer Checkout
      x-accepts: application/json
  /v1/buyer/checkout:
    post:
      description: An Idempotency-Key header is REQUIRED — this endpoint refuses without
        one, because a retried request would otherwise buy the item twice and a retry
        is the most likely thing an automated buyer does. Derive the key from what
        you are buying and reuse it across retries; a fresh random value per attempt
        satisfies the check and keeps the bug. The item is QUOTED first and the delivered
        total is checked against both your maxTotalCents and this key's limits before
        anything is charged. A card that demands 3-D Secure cannot be charged unattended;
        that answers 402 with `authentication_required` and the purchase must be finished
        on Crossly.
      operationId: createBuyerCheckout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerCheckoutResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Buy a listing without being present.
      tags:
      - Buyer Checkout
      x-accepts: application/json
  /v1/buyer/scan:
    post:
      description: 'Send a barcode identifier OR a photo. A BARCODE establishes identity,
        so the response carries a full price verdict across Crossly and other retailers.
        A PHOTO establishes resemblance only: you get visual matches from the Crossly
        catalogue, and a price verdict ONLY if the matched listing carries a real
        identifier. When it does not, `comparable` is false and there is no verdict
        — a price comparison built on a visual guess is a claim about a different
        product. Most second-hand items have no identifier by nature, so this is expected
        rather than a failure.'
      operationId: createBuyerScan
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerScanResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Identify a physical item and find the cheapest place to buy it.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/scan/sessions:
    get:
      operationId: listBuyerScanSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerScanSessionsItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Your scanning trips, newest first.
      tags:
      - Buyer Catalog
      x-accepts: application/json
    post:
      description: Call this when the glasses connect, then pass the returned id as
        `sessionId` on each scan. Opening a session CLOSES any other live one — a
        person is in one shop at a time, and two live sessions split a trip across
        both.
      operationId: createBuyerScanSession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerScanSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Open a Live Shop session.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/scan/sessions/{id}/end:
    post:
      operationId: createBuyerScanSessionEnd
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerScanSessionEndResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Close a Live Shop session.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/scan/sessions/{id}:
    get:
      description: Verdicts are returned EXACTLY as they were given at the time, not
        re-priced. A history screen that silently refreshes old prices shows a saving
        that was never actually on offer.
      operationId: getBuyerScanSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerScanSessionResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: One trip and everything it found.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/identify:
    post:
      description: 'The gesture endpoint for Live Shop. Runs a cost ladder: a decoded
        BARCODE resolves in ~50ms for nothing; failing that, self-hosted CLIP matches
        the catalogue; failing that, a vision model names it (the only rung that costs
        anything, capped per buyer per day). `hud` is pre-formatted for a 600×600
        lens — one headline, one subline, up to three fact chips and exactly ONE action,
        because a pinch cannot choose between buttons. A vision label is WORDS, never
        an identity: it names the thing so the buyer can search, and never drives
        a price comparison.'
      operationId: createBuyerIdentify
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerIdentifyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Identify a held object and return a HUD-ready answer.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/lockons:
    post:
      description: Open this when on-device tracking acquires an object, then post
        observations to it as the buyer turns the thing over. The answer improves
        as evidence arrives — the style code inside a shoe settles what the front
        of it could not.
      operationId: createBuyerLockon
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerLockonResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Lock on to an object the buyer is holding.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/lockons/{id}/observe:
    post:
      description: 'Send only what you LEARNED: a decoded barcode, newly-read OCR
        text, or a frame when neither settled it. Do not post every frame — tracking
        and decoding happen on-device for free, and this endpoint is for evidence,
        not video. Evidence is RANKED (confirmed > barcode > ocr > visual), so a late
        weak reading can never overwrite a strong early one. When text evidence finds
        several products, `candidates` comes back for the buyer to pick from — a vision
        label is words, and only a human confirmation turns it into an identity we
        will price against.'
      operationId: createBuyerLockonObserve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerLockonObserveResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Add what this frame revealed, and get the current best answer.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/lockons/{id}/confirm:
    post:
      description: Promotes a text match to a CONFIRMED identity — the strongest evidence
        in the system, because a person holding the object said yes. Validated against
        the candidates we actually offered, so it cannot be claimed about an arbitrary
        product.
      operationId: createBuyerLockonConfirm
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerLockonConfirmResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: The buyer picked one of the candidates.
      tags:
      - Buyer Catalog
      x-accepts: application/json
  /v1/buyer/activity:
    get:
      description: Newest first, and only as far back as the retention window — the
        link between a person and a comparison is dropped after 180 days, so this
        thins out rather than growing forever.
      operationId: listBuyerActivity
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/V1List'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ListBuyerActivityItem'
                      type: array
                  type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: What this buyer has compared lately.
      tags:
      - Buyer
      x-accepts: application/json
    post:
      description: Records the look and returns whether Crossly has the item and at
        what price. Send an identifier and a store DOMAIN — a full URL is refused.
        Nothing about the page itself is stored.
      operationId: createBuyerActivity
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                namespace:
                  enum:
                  - gtin
                  - style_code
                  - lego_set
                  - tcgplayer
                  - discogs
                  - asin
                  type: string
                value:
                  type: string
                retailHost:
                  type: string
                pagePriceCents:
                  minimum: 0
                  type: integer
                pageCurrency:
                  maxLength: 3
                  minLength: 3
                  type: string
              required:
              - namespace
              - value
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBuyerActivityResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: Report an item your user is looking at, and get our answer.
      tags:
      - Buyer
      x-contentType: application/json
      x-accepts: application/json
  /v1/buyer/preferences:
    get:
      description: Derived, never declared — there is no preferences form anywhere.
        `matchRate` is the share of this person's searches Crossly could answer; a
        low number is an inventory problem, not a personalisation one, which is why
        it is here.
      operationId: getBuyerPreference
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBuyerPreferenceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      summary: The shopping profile derived from that activity.
      tags:
      - Buyer
      x-accepts: application/json
components:
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: true
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
    inline_object_4:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_4'
      required: true
    inline_object_3:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: true
    inline_object_2:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: true
  schemas:
    Pagination:
      description: Present only when the endpoint pages. Absent — not null — when
        it returns everything.
      properties:
        page:
          description: 1-indexed page number.
          minimum: 1
          type: integer
        limit:
          description: Rows per page.
          minimum: 1
          type: integer
        total:
          description: Total matching rows, when the endpoint counts them.
          type: integer
        totalPages:
          description: Derived from total and limit.
          type: integer
      required:
      - limit
      - page
      type: object
    V1List:
      description: The canonical collection envelope. The array is ALWAYS under `data`,
        never under the noun — so one accessor works for every list endpoint.
      properties:
        data:
          description: The rows.
          items: {}
          type: array
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          additionalProperties: true
          description: Endpoint-specific extras that are NOT pagination — e.g. `pendingCents`,
            `basis`. Omitted when empty.
          type: object
      required:
      - data
      type: object
    Error:
      description: Every 4xx and 5xx from this API.
      properties:
        error:
          $ref: '#/components/schemas/Error_error'
        correlationId:
          description: Thread this back to server logs when reporting a problem.
          type: string
      required:
      - error
      type: object
    ListInventoryItem:
      additionalProperties: false
      properties:
        id:
          type: string
        brand:
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        userId:
          type: string
        sku:
          nullable: true
          type: string
        quantity:
          type: number
        quantityAvailable:
          type: number
        quantityReserved:
          type: number
        quantitySold:
          type: number
        originalPrice:
          nullable: true
          type: string
        condition:
          nullable: true
          type: string
        size:
          nullable: true
          type: string
        material:
          nullable: true
          type: string
        style:
          nullable: true
          type: string
        pattern:
          nullable: true
          type: string
        department:
          nullable: true
          type: string
        gender:
          nullable: true
          type: string
        itemType:
          nullable: true
          type: string
        sizeSystem:
          nullable: true
          type: string
        color:
          items:
            type: string
          type: array
        defaultTitle:
          type: string
        images:
          items:
            type: string
          type: array
        videoUrl:
          nullable: true
          type: string
        tags:
          items:
            type: string
          type: array
        labels:
          items:
            type: string
          type: array
        notes:
          nullable: true
          type: string
        customLabel:
          nullable: true
          type: string
        warehouseLocation:
          nullable: true
          type: string
        storageBin:
          nullable: true
          type: string
        storageNote:
          nullable: true
          type: string
        marketSkuId:
          nullable: true
          type: string
        marketVariantId:
          nullable: true
          type: string
        firstListedAt:
          format: date-time
          nullable: true
          type: string
        includeTaxInLanded:
          type: boolean
        costBasisCents:
          nullable: true
          type: number
        priceFloorCents:
          nullable: true
          type: number
        floorIsNet:
          type: boolean
        acquiredAt:
          format: date-time
          nullable: true
          type: string
        acquiredSource:
          nullable: true
          type: string
        weightLb:
          nullable: true
          type: string
        weightOz:
          nullable: true
          type: string
        dimensionLIn:
          nullable: true
          type: string
        dimensionWIn:
          nullable: true
          type: string
        dimensionHIn:
          nullable: true
          type: string
        status:
          type: string
        source:
          type: string
        category:
          $ref: '#/components/schemas/ListInventoryItem_category'
      required:
      - color
      - createdAt
      - defaultTitle
      - floorIsNet
      - id
      - images
      - includeTaxInLanded
      - labels
      - quantity
      - quantityAvailable
      - quantityReserved
      - quantitySold
      - source
      - status
      - tags
      - updatedAt
      - userId
      type: object
    ListInventoryIdsItem:
      type: string
    ListInventoryActivityItem:
      additionalProperties: false
      properties:
        id:
          type: string
        createdAt:
          format: date-time
          type: string
        userId:
          type: string
        platform:
          nullable: true
          type: string
        type:
          type: string
        orderId:
          nullable: true
          type: string
        inventoryItemId:
          nullable: true
          type: string
        delta:
          nullable: true
          type: number
        quantityBefore:
          nullable: true
          type: number
        quantityAfter:
          nullable: true
          type: number
        saleId:
          nullable: true
          type: string
      required:
      - createdAt
      - id
      - type
      - userId
      type: object
    ListInventoryUnitsItem:
      additionalProperties: false
      properties:
        id:
          type: string
        status:
          type: string
        orderId:
          nullable: true
          type: string
        soldAt:
          format: date-time
          nullable: true
          type: string
        notes:
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
        identifiers:
          items:
            $ref: '#/components/schemas/ListInventoryUnitsItem_identifiers'
          type: array
      required:
      - createdAt
      - id
      - identifiers
      - status
      type: object
    ListOrderUnitsItem:
      additionalProperties: false
      properties:
        unitId:
          type: string
        identifiers:
          items:
            $ref: '#/components/schemas/ListOrderUnitsItem_identifiers'
          type: array
      required:
      - identifiers
      - unitId
      type: object
    ListSpatialScenesItem:
      additionalProperties: false
      properties:
        id:
          type: string
        kind:
          type: string
        name:
          type: string
        categorySlug:
          nullable: true
          type: string
        visibility:
          type: string
        publicSlug:
          nullable: true
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - id
      - kind
      - name
      - updatedAt
      - visibility
      type: object
    ListSpatialPublicItem:
      additionalProperties: false
      properties:
        name:
          type: string
        publicSlug:
          type: string
        categorySlug:
          type: string
        itemCount:
          description: Unsold stock that lands in this room. The same predicate the
            room uses.
          type: number
        forSaleCount:
          description: How many of those a visitor could buy right now.
          type: number
        priceFromCents:
          description: |-
            The cheapest and dearest thing for sale, in cents.

            A BAND, deliberately, and never a quote: `listPublicSceneOffers` is the
            only authority on what a given object costs. Null when nothing is for sale
            — zero would read as free.
          nullable: true
          type: number
        priceToCents:
          nullable: true
          type: number
        previewImages:
          description: Up to PREVIEW_IMAGES item images. Catalog art first, seller
            photo else.
          items:
            type: string
          type: array
        updatedAt:
          description: Last time the room itself changed. ISO, or null if the row
            has no date.
          nullable: true
          type: string
      required:
      - categorySlug
      - forSaleCount
      - itemCount
      - name
      - previewImages
      - publicSlug
      type: object
    ListSpatialPublicOffersItem:
      additionalProperties: false
      properties:
        itemId:
          type: string
        listingSlug:
          description: platform_listings.platform_listing_id — what POST /cart/items
            takes.
          type: string
        priceCents:
          type: number
        currency:
          type: string
        available:
          description: Remaining stock, when the listing declares one. Null = unknown.
          nullable: true
          type: number
        condition:
          description: What a buyer is entitled to know before they add it.
          nullable: true
          type: string
        gradeKey:
          description: Canonical grade key when the item is slabbed, e.g. `psa-10`.
          nullable: true
          type: string
      required:
      - currency
      - itemId
      - listingSlug
      - priceCents
      type: object
    ListSpatialSceneMovementsItem:
      additionalProperties: false
      properties:
        id:
          type: string
        at:
          type: string
        kind:
          type: string
        source:
          type: string
        quantity:
          type: number
        itemId:
          type: string
        unitId:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        fromNodeId:
          nullable: true
          type: string
        toNodeId:
          nullable: true
          type: string
        fromCode:
          nullable: true
          type: string
        toCode:
          nullable: true
          type: string
        actorId:
          description: |-
            NULL when nothing human did it, OR when attribution is redacted for this
            caller. `actorsRedacted` on the payload distinguishes the two.
          nullable: true
          type: string
      required:
      - at
      - id
      - itemId
      - kind
      - quantity
      - source
      type: object
    ListListingsItem:
      additionalProperties: false
      properties:
        id:
          type: string
        brand:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        userId:
          type: string
        sku:
          nullable: true
          type: string
        quantity:
          type: number
        quantityAvailable:
          type: number
        condition:
          nullable: true
          type: string
        size:
          nullable: true
          type: string
        material:
          nullable: true
          type: string
        style:
          nullable: true
          type: string
        pattern:
          nullable: true
          type: string
        department:
          nullable: true
          type: string
        gender:
          nullable: true
          type: string
        itemType:
          nullable: true
          type: string
        sizeSystem:
          nullable: true
          type: string
        color:
          items:
            type: string
          type: array
        images:
          items:
            type: string
          nullable: true
          type: array
        videoUrl:
          nullable: true
          type: string
        tags:
          items:
            type: string
          type: array
        priceFloorCents:
          nullable: true
          type: number
        floorIsNet:
          type: boolean
        weightLb:
          nullable: true
          type: string
        weightOz:
          nullable: true
          type: string
        dimensionLIn:
          nullable: true
          type: string
        dimensionWIn:
          nullable: true
          type: string
        dimensionHIn:
          nullable: true
          type: string
        status:
          type: string
        source:
          type: string
        description:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        descriptionHtml:
          nullable: true
          type: string
        price:
          nullable: true
          type: string
        gradeKey:
          nullable: true
          type: string
        grading:
          $ref: '#/components/schemas/ListListingsItem_grading'
        publishAt:
          format: date-time
          nullable: true
          type: string
        scheduledPlatforms:
          items:
            type: string
          nullable: true
          type: array
        parentListingId:
          nullable: true
          type: string
        isBundle:
          type: boolean
        automationAssignedRuleIds:
          items:
            type: string
          type: array
        automationBlockedRuleIds:
          items:
            type: string
          type: array
        automationAssignedChainIds:
          items:
            type: string
          type: array
        automationBlockedChainIds:
          items:
            type: string
          type: array
        hsCode:
          nullable: true
          type: string
        countryOfOrigin:
          nullable: true
          type: string
        delistedAt:
          format: date-time
          nullable: true
          type: string
        soldAt:
          format: date-time
          nullable: true
          type: string
        duplicateOfListingId:
          nullable: true
          type: string
        clientDraftId:
          nullable: true
          type: string
      required:
      - automationAssignedChainIds
      - automationAssignedRuleIds
      - automationBlockedChainIds
      - automationBlockedRuleIds
      - color
      - createdAt
      - floorIsNet
      - id
      - isBundle
      - quantity
      - quantityAvailable
      - source
      - status
      - tags
      - updatedAt
      - userId
      type: object
    ListListingIdsItem:
      type: string
    ListListingDiscrepanciesItem:
      additionalProperties: false
      properties:
        id:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        userId:
          type: string
        source:
          type: string
        platform:
          type: string
        listingId:
          type: string
        accountSlot:
          type: number
        lastError:
          nullable: true
          type: string
        field:
          type: string
        ourValue:
          nullable: true
          type: string
        remoteValue:
          nullable: true
          type: string
        firstDetectedAt:
          format: date-time
          type: string
        lastDetectedAt:
          format: date-time
          type: string
        dismissedAt:
          format: date-time
          nullable: true
          type: string
        dismissedRemoteValue:
          nullable: true
          type: string
      required:
      - accountSlot
      - createdAt
      - field
      - firstDetectedAt
      - id
      - lastDetectedAt
      - listingId
      - platform
      - source
      - updatedAt
      - userId
      type: object
    ListOrdersItem:
      additionalProperties: false
      properties:
        id:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        userId:
          type: string
        quantity:
          type: number
        notes:
          nullable: true
          type: string
        status:
          type: string
        platform:
          type: string
        cancelledAt:
          format: date-time
          nullable: true
          type: string
        listingId:
          nullable: true
          type: string
        inventoryItemId:
          nullable: true
          type: string
        platformListingId:
          nullable: true
          type: string
        handlingTimeDays:
          nullable: true
          type: number
        platformOrderId:
          nullable: true
          type: string
        buyerUsername:
          nullable: true
          type: string
        salesChannel:
          type: string
        channelLocationId:
          nullable: true
          type: string
        packagePresetId:
          nullable: true
          type: string
        carrier:
          nullable: true
          type: string
        service:
          nullable: true
          type: string
        trackingNumber:
          nullable: true
          type: string
        easypostShipmentId:
          nullable: true
          type: string
        easypostTrackerId:
          nullable: true
          type: string
        easypostRateId:
          nullable: true
          type: string
        shippingLabelUrl:
          nullable: true
          type: string
        labelPurchasedAt:
          format: date-time
          nullable: true
          type: string
        shippedAt:
          format: date-time
          nullable: true
          type: string
        estimatedDelivery:
          nullable: true
          type: string
        deliveredAt:
          format: date-time
          nullable: true
          type: string
        carrierStatus:
          nullable: true
          type: string
        carrierStatusDetail:
          nullable: true
          type: string
        trackingHistory:
          items:
            $ref: '#/components/schemas/ListOrdersItem_trackingHistory'
          nullable: true
          type: array
        deliveryLocation:
          nullable: true
          type: string
        deliverySignature:
          nullable: true
          type: string
        trackingSubmittedAt:
          format: date-time
          nullable: true
          type: string
        trackingSubmitStatus:
          nullable: true
          type: string
        labelCost:
          nullable: true
          type: string
        costOfGoods:
          nullable: true
          type: string
        requestedCarrier:
          nullable: true
          type: string
        requestedService:
          nullable: true
          type: string
        shipByAt:
          format: date-time
          nullable: true
          type: string
        shipByAlertedAt:
          format: date-time
          nullable: true
          type: string
        oversoldBy:
          type: number
        lastStatusCheckAt:
          format: date-time
          nullable: true
          type: string
        lastChatCheckAt:
          format: date-time
          nullable: true
          type: string
        isDisputed:
          type: boolean
        disputeReason:
          nullable: true
          type: string
        disputePlatformCaseId:
          nullable: true
          type: string
        disputeResolvedAt:
          format: date-time
          nullable: true
          type: string
        refundAmount:
          nullable: true
          type: string
        refundReason:
          nullable: true
          type: string
        refundPlatformId:
          nullable: true
          type: string
        refundedAt:
          format: date-time
          nullable: true
          type: string
        cancellationReason:
          nullable: true
          type: string
        arrivalConditionRequestedAt:
          format: date-time
          nullable: true
          type: string
        arrivalConditionSubmittedAt:
          format: date-time
          nullable: true
          type: string
        arrivalConditionDeclinedAt:
          format: date-time
          nullable: true
          type: string
        deliveryPhotoUrl:
          nullable: true
          type: string
        purchaseOrderRef:
          nullable: true
          type: string
        arrivalConditionPhotos:
          items:
            type: string
          type: array
        buyerEmail:
          nullable: true
          type: string
        fulfillmentMethod:
          type: string
        deletedAt:
          format: date-time
          nullable: true
          type: string
      required:
      - arrivalConditionPhotos
      - createdAt
      - fulfillmentMethod
      - id
      - isDisputed
      - oversoldBy
      - platform
      - quantity
      - salesChannel
      - status
      - updatedAt
      - userId
      type: object
    ListSalesItem:
      additionalProperties: false
      properties:
        id:
          type: string
        userId:
          type: string
        platform:
          type: string
        cancelledAt:
          format: date-time
          nullable: true
          type: string
        orderId:
          nullable: true
          type: string
        listingId:
          nullable: true
          type: string
        inventoryItemId:
          nullable: true
          type: string
        platformListingId:
          nullable: true
          type: string
        platformOrderId:
          nullable: true
          type: string
        costOfGoods:
          nullable: true
          type: string
        deletedAt:
          format: date-time
          nullable: true
          type: string
        salePrice:
          nullable: true
          type: string
        platformFee:
          nullable: true
          type: string
        shippingCost:
          nullable: true
          type: string
        netProfit:
          nullable: true
          type: string
        taxCollected:
          nullable: true
          type: string
        shippingCharged:
          nullable: true
          type: string
        feeSource:
          nullable: true
          type: string
        detectedBy:
          type: string
        detectedAt:
          format: date-time
          type: string
        documents:
          items:
            $ref: '#/components/schemas/ListSalesItem_documents'
          nullable: true
          type: array
        refundedAmount:
          nullable: true
          type: string
      required:
      - detectedAt
      - detectedBy
      - id
      - platform
      - userId
      type: object
    ListInboxItem:
      additionalProperties: false
      properties:
        id:
          type: string
        createdAt:
          format: date-time
          type: string
        userId:
          type: string
        status:
          type: string
        platform:
          type: string
        listingId:
          nullable: true
          type: string
        accountSlot:
          type: number
        inventoryItemId:
          nullable: true
          type: string
        buyerUsername:
          nullable: true
          type: string
        subject:
          nullable: true
          type: string
        platformConversationId:
          type: string
        buyerPlatformId:
          nullable: true
          type: string
        isRead:
          type: boolean
        isHidden:
          type: boolean
        hasOffer:
          type: boolean
        offerAmount:
          nullable: true
          type: string
        offerStatus:
          nullable: true
          type: string
        platformConversationUrl:
          nullable: true
          type: string
        lastMessageAt:
          format: date-time
          nullable: true
          type: string
      required:
      - accountSlot
      - createdAt
      - hasOffer
      - id
      - isHidden
      - isRead
      - platform
      - platformConversationId
      - status
      - userId
      type: object
    ListInsightByPlatformItem:
      additionalProperties: false
      properties:
        platform:
          type: string
        sales:
          type: string
        gross_cents:
          type: string
        avg_days_to_sale:
          type: number
        avg_sale_cents:
          type: number
        net_cents:
          type: string
      required:
      - avg_days_to_sale
      - avg_sale_cents
      - gross_cents
      - net_cents
      - platform
      - sales
      type: object
    ListAccountsItem:
      additionalProperties: false
      properties:
        id:
          type: string
        platform:
          type: string
        accountSlot:
          type: number
        label:
          nullable: true
          type: string
        platformUsername:
          nullable: true
          type: string
        status:
          type: string
        lastSyncedAt:
          format: date-time
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
      required:
      - accountSlot
      - createdAt
      - id
      - platform
      - status
      type: object
    ListConnectionsItem:
      additionalProperties: false
      properties:
        id:
          type: string
        platform:
          type: string
        isActive:
          type: boolean
        shopUrl:
          nullable: true
          type: string
        lastSeenActive:
          format: date-time
          nullable: true
          type: string
        tokenExpiresAt:
          format: date-time
          nullable: true
          type: string
        createdAt:
          format: date-time
          nullable: true
          type: string
      required:
      - id
      - isActive
      - platform
      type: object
    ListAuthSessionsItem:
      additionalProperties: false
      properties:
        isCurrent:
          type: boolean
        id:
          type: string
        userAgent:
          nullable: true
          type: string
        ipAddress:
          nullable: true
          type: string
        ipCountry:
          nullable: true
          type: string
        createdAt:
          format: date-time
          type: string
        lastUsedAt:
          format: date-time
          type: string
        expiresAt:
          format: date-time
          type: string
      required:
      - createdAt
      - expiresAt
      - id
      - isCurrent
      - lastUsedAt
      type: object
    ListAutomationRulesItem:
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
        userId:
          type: string
        isActive:
          type: boolean
        platforms:
          items:
            type: string
          nullable: true
          type: array
        triggerType:
          type: string
        conditionType:
          nullable: true
          type: string
        actionType:
          type: string
        lastRunAt:
          format: date-time
          nullable: true
          type: string
        nextRunAt:
          format: date-time
          nullable: true
          type: string
        runCount:
          type: number
      required:
      - actionType
      - createdAt
      - id
      - isActive
      - name
      - runCount
      - triggerType
      - updatedAt
      - userId
      type: object
    ListAutomationRunsItem:
      additionalProperties: false
      properties:
        id:
          type: string
        createdAt:
          format: date-time
          type: string
        userId:
          type: string
        status:
          type: string
        errorMessage:
          nullable: true
          type: string
        durationMs:
          nullable: true
          type: number
        actionType:
          type: string
        ruleId:
          nullable: true
          type: string
        chainId:
          nullable: true
          type: string
      required:
      - actionType
      - createdAt
      - id
      - status
      - userId
      type: object
    ListWorkflowChainsItem:
      additionalProperties: false
      properties:
        steps:
          items:
            $ref: '#/components/schemas/ListWorkflowChainsItem_steps'
          type: array
        id:
          type: string
        name:
          type: string
        createdAt:
          format: date-time
          type: string
        userId:
          type: string
        isActive:
          type: boolean
        triggerId:
          type: string
      required:
      - createdAt
      - id
      - isActive
      - name
      - steps
      - triggerId
      - userId
      type: object
    ListNotificationIntegrationsItem:
      additionalProperties: false
      properties:
        config:
          type: object
        id:
          type: string
        provider:
          type: string
        name:
          type: string
        enabled:
          type: boolean
        createdAt:
          format: date-time
          type: string
      required:
      - config
      - createdAt
      - enabled
      - id
      - name
      - provider
      type: object
    ListNetworkPoolLogItem:
      additionalProperties: false
      properties:
        id:
          type: string
        platform:
          type: string
        actionType:
          type: string
        targetUserId:
          type: string
        performedAt:
          format: date-time
          type: string
        ruleId:
          nullable: true
          type: string
        engagerUserId:
          type: string
        targetListingId:
          nullable: true
          type: string
        targetPlatformListingId:
          nullable: true
          type: string
      required:
      - actionType
      - engagerUserId
      - id
      - performedAt
      - platform
      - targetUserId
      type: object
    ListWebhooksItem:
      additionalProperties: false
      properties:
        id:
          type: string
        url:
          type: string
        events:
          items:
            type: string
          type: array
        description:
          nullable: true
          type: string
        enabled:
          type: boolean
        lastDeliveryAt:
          format: date-time
          nullable: true
          type: string
        lastErrorAt:
          format: date-time
          nullable: true
          type: string
        lastError:
          nullable: true
          type: string
        consecutiveFailures:
          type: number
        createdAt:
          format: date-time
          type: string
      required:
      - consecutiveFailures
      - createdAt
      - enabled
      - events
      - id
      - url
      type: object
    ListMeTemplatesItem:
      additionalProperties: false
      properties:
        id:
          type: string
        brand:
          nullable: true
          type: string
[...]
